table {
  font-family: 'Trebuchet MS' !important;
  border-collapse: collapse;
  width: 60% !important;
  max-height: 60% !important;
  overflow:scroll
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  font-size: larger !important;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #069a8eb8 !important;
  color: white;
}